<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mediaplayer">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".QuizActivity"
            android:launchMode="singleTop"
            ></activity>
        <activity
            android:name=".HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!--<meta-data-->
                <!--android:name="android.app.searchable"-->
                <!--android:resource="@xml/searchable" />-->

            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.SEARCH" />-->
            <!--</intent-filter>-->
        </activity>
        <!--<activity-->
            <!--android:name=".MainActivity"-->
            <!--android:label="@string/app_name"-->
            <!--android:theme="@style/AppTheme.NoActionBar"></activity>-->

        <receiver android:name=".VersesWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <intent-filter>
                <action android:name="AUTO_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/verses_show_widget_info" />
        </receiver>
    </application>

</manifest>